.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  /* overflow-x: hidden; */
}

.Sidebar {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Sidebar .ImportExportButtons {
  margin: 0.5em;
}

.Sidebar .mdc-button:not(:disabled),
.Sidebar .mdc-button {
  color: rgb(82, 82, 82);
}

.Content {
  width: 70vw;
  background-color: rgb(246, 246, 246)
}

.Content .Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
}

.Toolbar {
  display: flex;
  align-items: center;
}