.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  /* overflow-x: hidden; */
}

.Sidebar {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Content {
  width: 70vw;
  background-color: rgb(246, 246, 246)
}

.Content .Header {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.PDF {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.PDF .Document {
  display: flex;
}

.PDF .Page {
  border: 1px solid grey
}