.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.Sidebar {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Content {
  width: 70vw;
  height: 100vh;
  background-color: rgb(246, 246, 246)
}