.Category {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Category .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
}


.Circle {
    border-radius: 50%;
    width: 25px;
    min-width: 25px;
    height: 25px;
}